@*Define Model*@

@model IEnumerable<ActorModel>

@*Define ViewData*@

@{
    ViewData["Title"] = "List of Actors";
}

@*Write code *@
<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>Actor's Full name</th>
                    <th>@Html.DisplayNameFor(model => model.BirthYear)</th>
                    <th>@Html.DisplayNameFor(model => model.BirthPlace)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle text-center">
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthPlace)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="Actors" asp-action="Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-controller="Actors" asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-eye"></i>Details</a>
                            <a class="btn btn-outline-danger" asp-controller="Actors" asp-action="Delete" asp-route-id="@item.ID"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreatePartial", "Actors")