@*Define Model*@

@model IEnumerable<CinematographyModel>

@*Define ViewData*@

@{
    ViewData["Title"] = "Cinematography list";
}

@*Write code*@
<div class="row mx-3">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @using (Html.BeginForm("RemoveFromFavorites", "Favorites", FormMethod.Post))
                                        {
                                            @Html.Hidden("cinematographyID", item.ID)
                                            <button class="btn-lg btn-outline-danger float-end" type="submit"><i class="bi bi-x-square"></i></button>
                                        }
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p class="card-text text-truncate">@item.ShortDescription</p>
                            <p class="card-text"><b>Title: </b>@item.Name</p>
                            <p class="card-text"><b>Director: </b>@item.Director.FirstName @item.Director.MiddleName @item.Director.LastName</p>
                            <p class="card-text"><b>Genre: </b>@item.Genre.Name</p>
                            <p class="card-text"><b>Release year: </b>@item.ReleaseYear</p>
                            <p class="card-text"><b>IMDb score: </b>@item.IMDbScore</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-controller="Cinematography" asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-eye-fill"></i> Show Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@await Html.PartialAsync("_CreatePartial", "Cinematography")